# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# M5 raw data
data/raw/*.csv

# Processed data
data/processed/*.csv

# Model artifacts
models/*.pkl
models/*.joblib

# BigQuery credentials
*.json
!package.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log